*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

h2{
    margin-top: 60px;
}

.wrapper{
    text-align: center;
    padding: 20px;
    max-width: 700px;
    width: 95%;
    margin: 20px auto;
    background-color: white;
    border: 10px solid white;
    height: 800px;

}

button{
    width: 170px;
    height: 100px;
    
}



#value {
    font-size: 50px;
}


.colorUp {
background-color:rgb(152, 224, 236);
}






/* #css for the lart box  */
 #dialogoverlay{
    display: none;
	
	position: fixed;
	top: 0px;
	left: 0px;
	
	width: 100%;
	z-index: 10;
    
    
    
}
#dialogbox{
    margin-top: 13em;
    display: none;
	position: fixed;
	background-color: white;
	border-radius:7px; 
	width:550px;
	z-index: 10;
    border: 3px solid black;



}
#dialogbox > div{ 
   
    margin:8px; 
}

#dialogboxhead{ 
    text-align: left;
    font-size:19px; 
    padding:10px; 
    
}


#dialogboxbody{ 
    text-align: left;
    padding:20px; 
    
}


 #dialogboxfoot{ 
    
    padding:10px; 
    text-align:right; 
}

#okButton{
    height: 30px;
    background-color: #666;
}